{% extends "base.html" %}

{% block content %}
  
  <div class="login-container">
        <center>
    <h1>Login</h1>
            <br>
    <form method="post">
        {% csrf_token %}

        <label for="id_username">Index-Number:</label>
        <input type="Number" name="username" id="id_username" pattern="^\d{7}$" 
            title="Please enter your Index number" required>

        <label for="id_password">Password:</label>
        <input type="password" name="password" id="id_password" title="Enter a valid password" required>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register/">Register</a></p>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
  </div>

<style>
    /* Login form styles */
    form {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
    }
    
    h1 {
        color: #333;
    }
    
    input[type="Number"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    button {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    p a {
        text-decoration: none;
        color: #007bff;
    }
    
    p a:hover {
        text-decoration: underline;
    }
</style>    

{% endblock %}

